In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as po

In [62]:
df=pd.read_csv('C:/Users/User/Downloads/result_df.csv',encoding='utf-8')
df

,Unnamed: 0.1,Unnamed: 0,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,...,Frequency_s,Monetary_s,labels_k,Recency_8,Frequency_8,Monetary_8,RFM_Score,RFM_Class,고객구분_New,prediction
0,6,6,w8NeFjRo,2,38,1,20170609,19,1,0,...,0.025141,0.001804,1,8,5,4,61.056236,잠재충성고객,간헐,연속
1,9,9,OdlqFy2F,2,42,1,20100816,101,0,0,...,0.017980,0.003194,1,8,4,7,64.671510,잠재충성고객,간헐,연속
2,11,11,PjmGznTm,1,45,1,19950524,284,0,0,...,0.026665,0.001722,1,8,5,4,61.056236,잠재충성고객,간헐,연속
3,16,16,Os3UUS88,1,80,1,20171128,14,0,0,...,0.032759,0.001639,1,8,5,4,61.056236,잠재충성고객,간헐,연속
4,25,25,CRX23tPQ,1,34,1,20170921,16,1,0,...,0.025598,0.001177,1,8,5,3,57.226267,놓치면안될고객,간헐,연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69384,299982,299982,g7KF9R6g,1,56,1,20150903,40,1,0,...,0.027579,0.001671,1,8,5,4,61.056236,잠재충성고객,간헐,연속
69385,299983,299983,Tp3muDcV,1,55,1,20160219,35,0,0,...,0.035654,0.001837,1,8,5,5,64.886204,잠재충성고객,간헐,연속
69386,299986,299986,4n8aFEwI,1,45,1,20071017,135,0,0,...,0.037635,0.002943,1,8,5,6,68.716172,잠재충성고객,간헐,연속
69387,299996,299996,EDQYlTTX,2,69,1,20150417,45,0,0,...,0.021332,0.001770,1,8,4,4,53.181605,놓치면안될고객,간헐,연속
69388,299999,299999,bnKXePYO,2,36,1,20180222,11,1,0,...,0.029864,0.001939,1,8,5,5,64.886204,잠재충성고객,간헐,연속

In [63]:
df['prediction'].value_counts()

연속    54947
휴면    14442
Name: prediction, dtype: int64

In [64]:
df1=df[df['prediction']=='연속']

In [65]:
df2 = df1.sample(n=10000, random_state=42)

# 소비패턴

In [66]:
df3=df2[[  '쇼핑_도소매_이용금액','쇼핑_백화점_이용금액' , '쇼핑_마트_이용금액',  '쇼핑_슈퍼마켓_이용금액' ,'쇼핑_편의점_이용금액' , '쇼핑_아울렛_이용금액' , '쇼핑_온라인_이용금액' , 
'쇼핑_기타_이용금액' ,   '교통_주유이용금액' ,'교통_정비이용금액' ,'교통_통행료이용금액' ,'교통_버스지하철이용금액'  ,'교통_택시이용금액' ,
'교통_철도버스이용금액' ,'여유_운동이용금액', '여유_Pet이용금액' , '여유_공연이용금액' ,'여유_공원이용금액' ,'여유_숙박이용금액' ,
'여유_여행이용금액' ,'여유_항공이용금액' ,'여유_기타이용금액' , '납부_통신비이용금액' ,'납부_관리비이용금액' ,'납부_렌탈료이용금액' ,
'납부_가스전기료이용금액'  ,'납부_보험료이용금액' ,'납부_유선방송이용금액' ,'납부_건강연금이용금액' ,'납부_기타이용금액' ,'이용금액_요식',  '이용금액_의료',  
 '이용금액_교육' ,'이용금액_사교활동', '이용금액_일상생활' ,'이용금액_해외' ]]

In [67]:
df3 = df3.astype(np.int32)

In [68]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

matrix1 = df3.values

# 데이터 스케일링
scaler1 = StandardScaler()
scaled_matrix1 = scaler1.fit_transform(matrix1)

# 코사인 유사도 계산
cosine_sim1 = cosine_similarity(scaled_matrix1)

# 데이터 프레임 형태로 저장
cosine_sim_df1 = pd.DataFrame(cosine_sim1, df3.index, columns=df3.index)
cosine_sim_df1.iloc[:4,:4]

          7388      26896     11745     40651
7388   1.000000 -0.056891 -0.002639  0.044120
26896 -0.056891  1.000000 -0.009400  0.013653
11745 -0.002639 -0.009400  1.000000  0.276174
40651  0.044120  0.013653  0.276174  1.000000

# 군집 14개

In [80]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=14,random_state=42).fit(cosine_sim_df1)
km.cluster_centers_

# 클러스터링을 통해 군집화
predict = pd.DataFrame(km.predict(cosine_sim_df1))
predict.columns = ['Cluster']
predict.head(5)

C:\Users\User\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

   Cluster
0        4
1        6
2        0
3       13
4        4

In [81]:
predict.value_counts()

Cluster
4          1601
3          1412
9          1080
7           775
5           715
2           648
6           569
0           541
8           531
10          531
13          438
11          435
1           396
12          328
dtype: int64

In [82]:
df2['cluster']=predict['Cluster'].values

In [83]:
cluster_mean=df3.groupby('cluster').mean()
cluster_mean

,쇼핑_도소매_이용금액,쇼핑_백화점_이용금액,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,쇼핑_편의점_이용금액,쇼핑_아울렛_이용금액,쇼핑_온라인_이용금액,쇼핑_기타_이용금액,교통_주유이용금액,교통_정비이용금액,...,납부_보험료이용금액,납부_유선방송이용금액,납부_건강연금이용금액,납부_기타이용금액,이용금액_요식,이용금액_의료,이용금액_교육,이용금액_사교활동,이용금액_일상생활,이용금액_해외
cluster,,,,,,,,,,,,,,,,,,,,,
0,103035.774492,9098.672828,24621.515712,31622.426987,10410.110906,3473.031423,8.766357e+04,25069.085028,697990.277264,70508.865065,...,26005.349353,0.000000,0.000000,40551.794824,6920.887246,112969.112754,21304.787431,187622.563771,8518.354898,18982.510166
1,59262.593434,21385.959596,21033.131313,16353.611111,6981.994949,3942.651515,1.943568e+06,7317.702020,32523.858586,5945.593434,...,11976.469697,0.000000,0.000000,66776.280303,7738.542929,74992.358586,25524.015152,71763.169192,6630.277778,65955.664141
2,201723.351852,25019.441358,60915.185185,355781.191358,12502.808642,13277.515432,1.134736e+05,33455.447531,72212.496914,14744.907407,...,25798.501543,0.000000,20.486111,29239.856481,15678.888889,141963.441358,36466.273148,195606.064815,17852.901235,9077.415123
3,19196.953258,4099.135977,3863.640227,4414.433428,1633.031161,538.158640,7.533615e+04,2271.352691,11036.340652,13748.498584,...,4824.639518,0.000000,0.000000,7722.269830,820.375354,29046.684136,3971.926346,20546.260623,1213.611898,12849.759915
4,368511.496565,89792.028732,31054.036852,33984.808869,12077.489069,49976.732042,1.936321e+05,43936.264834,71717.415990,76186.956277,...,27410.092442,763.466583,16912.813866,285079.468457,11516.046221,393619.452217,214962.954403,246576.756402,40413.337914,157327.424110
5,85241.510490,22066.732867,37556.811189,37833.899301,16368.405594,6664.671329,2.231792e+05,14999.482517,82794.090909,17530.029371,...,48485.076923,0.000000,0.000000,33281.149650,10119.734266,71788.525874,64555.117483,152250.177622,12905.216783,18288.911888
6,64796.553603,17561.318102,22358.332162,35351.940246,9599.191564,6203.093146,8.501722e+04,8544.991213,17201.606327,8014.588752,...,14791.659051,35.810193,73.655536,11158.442882,8222.478032,94250.467487,28505.553603,88264.780316,6457.750439,23882.456942
7,151025.980645,47059.390968,67109.042581,72597.734194,26485.316129,29018.505806,2.070865e+05,28578.567742,96127.046452,21732.729032,...,19815.538065,62.301935,488.376774,24511.958710,85039.845161,147089.978065,67525.076129,456339.415484,32984.800000,21953.131613
8,95399.613936,27374.463277,36039.868173,69324.809793,179465.819209,9678.020716,1.655432e+05,19781.977401,116149.704331,36760.638418,...,31546.506591,194.376648,130.506591,28637.312618,16202.956685,79428.060264,26329.717514,345272.052731,19516.873823,15554.649718
9,111907.782407,20146.148148,22231.409259,30972.031481,7869.972222,4929.668519,1.080511e+05,15649.092593,41773.835185,24307.049074,...,16735.345370,21.113889,1125.180556,35794.702778,5892.318519,154954.374074,60812.490741,120833.479630,7082.527778,52870.913889
10,131545.787194,33174.794727,483290.337100,58710.131827,12480.489642,27765.499058,1.979637e+05,32113.465160,100246.401130,19802.849341,...,31979.306968,106.740113,508.836158,14682.442561,13633.427495,136579.020716,50731.195857,187245.841808,15810.715631,29517.418079
11,97786.154023,13205.954023,25721.110345,27503.563218,8653.034483,7589.655172,1.716412e+05,14939.310345,77079.917241,24601.356322,...,918264.508046,38.268966,893.197701,33750.388506,6068.229885,88338.413793,39518.137931,106671.393103,7405.103448,17553.236782
12,70775.317073,17219.237805,40752.804878,34222.954268,8314.268293,25649.146341,2.012907e+05,10629.725610,62819.323171,7711.317073,...,40966.844512,0.000000,1007.097561,66997.728659,13479.207317,98667.472561,94830.762195,107475.670732,14190.792683,31047.167683
13,58550.367580,9173.561644,12795.410959,10761.278539,4776.552511,1311.324201,1.882691e+05,7978.401826,30036.077626,9386.484018,...,21625.509132,37.671233,718.438356,24494.486301,3281.287671,55288.904110,64862.785388,59759.748858,4238.127854,13350.497717

In [93]:
mean1=df2.groupby('cluster').mean()
mean1

C:\Users\User\AppData\Local\Temp\ipykernel_11228\3137296388.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean1=df2.groupby('cluster').mean()

,Unnamed: 0.1,Unnamed: 0,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,...,Frequency,Monetary,Recency_s,Frequency_s,Monetary_s,labels_k,Recency_8,Frequency_8,Monetary_8,RFM_Score
cluster,,,,,,,,,,,,,,,,,,,,,
0,149831.190388,149831.190388,1.486137,46.223660,1.000000,2.010960e+07,91.892791,0.423290,0.003697,0.375231,...,145.129390,9.312053e+06,0.001078,0.025465,0.002255,1.000000,7.987061,4.526802,5.051756,61.347878
1,143063.477273,143063.477273,1.459596,45.626263,1.000000,2.011587e+07,84.419192,0.414141,0.015152,0.414141,...,139.063131,1.277118e+07,0.002736,0.024541,0.002751,1.000000,7.967172,4.401515,5.517677,62.129931
2,152518.632716,152518.632716,1.455247,45.598765,1.000000,2.012070e+07,78.555556,0.391975,0.004630,0.283951,...,168.492284,8.237491e+06,0.001157,0.029025,0.002101,1.000000,7.986111,4.791667,4.819444,62.543087
3,150628.730170,150628.730170,1.469547,46.378895,0.967422,2.011792e+07,81.910765,0.404391,0.057365,0.400142,...,166.957507,6.727999e+06,0.101098,0.028791,0.001884,0.935552,7.060907,4.775496,4.152266,59.124567
4,147998.184884,147998.184884,1.492192,46.377889,1.000000,2.011402e+07,86.567770,0.443473,0.009994,0.369144,...,146.319800,1.358340e+07,0.001666,0.025647,0.002868,1.000000,7.980012,4.497814,5.387883,62.401354
5,150693.034965,150693.034965,1.483916,45.627972,0.998601,2.013711e+07,58.667133,0.458741,0.011189,0.338462,...,147.327273,9.145987e+06,0.000117,0.025800,0.002231,1.000000,7.998601,4.549650,5.078322,61.638724
6,147554.706503,147554.706503,1.532513,46.998243,0.998243,2.011252e+07,88.504394,0.376098,0.007030,0.302285,...,237.713533,3.854474e+06,0.003515,0.039572,0.001472,1.000000,7.957821,5.509666,3.444640,62.909106
7,151557.686452,151557.686452,1.477419,46.023226,0.998710,2.012660e+07,71.673548,0.459355,0.009032,0.365161,...,184.929032,8.371444e+06,0.001075,0.031530,0.002120,1.000000,7.987097,4.939355,4.841290,63.790529
8,147135.709981,147135.709981,1.450094,46.357815,0.998117,2.012516e+07,73.171375,0.361582,0.016949,0.320151,...,193.685499,7.772086e+06,0.001412,0.032864,0.002034,1.000000,7.983051,5.033898,4.653484,63.812514
9,151397.968519,151397.968519,1.461111,46.335185,0.996296,2.010735e+07,94.640741,0.407407,0.023148,0.379630,...,154.698148,7.717963e+06,0.005787,0.026923,0.002026,1.000000,7.930556,4.652778,4.565741,60.433522
10,150597.472693,150597.472693,1.465160,46.557439,1.000000,2.011562e+07,84.726930,0.455744,0.009416,0.370998,...,164.427495,8.963448e+06,0.000471,0.028406,0.002205,1.000000,7.994350,4.726930,5.060264,62.962195
11,146156.142529,146156.142529,1.445977,46.404598,1.000000,2.012362e+07,75.059770,0.482759,0.011494,0.388506,...,138.694253,9.878408e+06,0.000575,0.024485,0.002336,1.000000,7.993103,4.432184,5.239080,61.325047
12,142940.765244,142940.765244,1.454268,46.128049,0.996951,2.013810e+07,57.902439,0.533537,0.006098,0.332317,...,143.262195,8.944429e+06,0.000254,0.025181,0.002202,1.000000,7.996951,4.503049,5.097561,61.344127
13,144208.646119,144208.646119,1.449772,45.945205,0.997717,2.013586e+07,60.347032,0.468037,0.013699,0.440639,...,147.150685,7.516422e+06,0.002093,0.025773,0.001997,1.000000,7.974886,4.575342,4.586758,59.939503

# pred_휴면

In [47]:
new_=df[df['prediction']=='휴면']
new_df=new_[[  '연령','쇼핑_도소매_이용금액','쇼핑_백화점_이용금액' , '쇼핑_마트_이용금액',  '쇼핑_슈퍼마켓_이용금액' ,'쇼핑_편의점_이용금액' , '쇼핑_아울렛_이용금액' , '쇼핑_온라인_이용금액' , 
'쇼핑_기타_이용금액' ,   '교통_주유이용금액' ,'교통_정비이용금액' ,'교통_통행료이용금액' ,'교통_버스지하철이용금액'  ,'교통_택시이용금액' ,
'교통_철도버스이용금액' ,'여유_운동이용금액', '여유_Pet이용금액' , '여유_공연이용금액' ,'여유_공원이용금액' ,'여유_숙박이용금액' ,
'여유_여행이용금액' ,'여유_항공이용금액' ,'여유_기타이용금액' , '납부_통신비이용금액' ,'납부_관리비이용금액' ,'납부_렌탈료이용금액' ,
'납부_가스전기료이용금액'  ,'납부_보험료이용금액' ,'납부_유선방송이용금액' ,'납부_건강연금이용금액' ,'납부_기타이용금액' ,'이용금액_요식',  '이용금액_의료',  
 '이용금액_교육' ,'이용금액_사교활동', '이용금액_일상생활' ,'이용금액_해외']]

In [48]:
df3=df3.drop(['cluster'],axis=1)

KeyError: "['cluster'] not found in axis"

In [51]:
new_cosine_sim = cosine_similarity(new_df, df3)
# 클러스터링을 통해 군집화
new_predict = pd.DataFrame(km.predict(new_cosine_sim))
new_predict.columns = ['Cluster']
new_predict

       Cluster
0            8
1           11
2           11
3            3
4            3
...        ...
14437        5
14438        3
14439       11
14440        3
14441        5

[14442 rows x 1 columns]

In [52]:
new_predict.value_counts()

Cluster
5          5665
11         3779
3          1282
12         1093
13          863
7           721
1           661
8           200
9           178
dtype: int64

In [54]:
new_['cluster']=new_predict['Cluster'].values
new_

C:\Users\User\AppData\Local\Temp\ipykernel_11228\829461944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_['cluster']=new_predict['Cluster'].values

,Unnamed: 0.1,Unnamed: 0,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,...,Monetary_s,labels_k,Recency_8,Frequency_8,Monetary_8,RFM_Score,RFM_Class,고객구분_New,prediction,cluster
8,43,43,sytxTIWe,1,54,1,20160202,35,0,0,...,0.001465,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,8
17,81,81,qJVMhX52,1,65,1,20090413,117,0,0,...,0.002731,1,8,5,6,68.716172,잠재충성고객,간헐,휴면,11
28,148,148,jJpomaur,1,59,1,20040603,175,0,0,...,0.001818,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,11
35,191,191,M6X9TldS,2,29,1,20050321,166,1,0,...,0.001459,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,3
42,235,235,8CpoNiZA,2,40,1,20160831,28,1,0,...,0.004079,1,8,3,7,56.796880,놓치면안될고객,간헐,휴면,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69375,299938,299938,45lIwbJA,2,26,1,20160921,28,1,0,...,0.002435,1,8,3,6,52.966911,놓치면안될고객,간헐,휴면,5
69377,299943,299943,vdBya0ZX,2,49,1,20131023,63,0,0,...,0.002204,1,8,4,5,57.011574,놓치면안될고객,간헐,휴면,3
69381,299965,299965,u3m5mxIA,1,44,1,20120912,76,1,0,...,0.001743,1,8,5,4,61.056236,잠재충성고객,간헐,휴면,11
69382,299974,299974,WoxfyQXF,2,41,1,20020121,204,0,0,...,0.001649,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,3
69383,299976,299976,n4Tx2THz,1,34,1,19941017,291,1,0,...,0.004613,1,8,2,8,52.752218,놓치면안될고객,간헐,휴면,5

In [55]:
new_

,Unnamed: 0.1,Unnamed: 0,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,...,Monetary_s,labels_k,Recency_8,Frequency_8,Monetary_8,RFM_Score,RFM_Class,고객구분_New,prediction,cluster
8,43,43,sytxTIWe,1,54,1,20160202,35,0,0,...,0.001465,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,8
17,81,81,qJVMhX52,1,65,1,20090413,117,0,0,...,0.002731,1,8,5,6,68.716172,잠재충성고객,간헐,휴면,11
28,148,148,jJpomaur,1,59,1,20040603,175,0,0,...,0.001818,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,11
35,191,191,M6X9TldS,2,29,1,20050321,166,1,0,...,0.001459,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,3
42,235,235,8CpoNiZA,2,40,1,20160831,28,1,0,...,0.004079,1,8,3,7,56.796880,놓치면안될고객,간헐,휴면,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69375,299938,299938,45lIwbJA,2,26,1,20160921,28,1,0,...,0.002435,1,8,3,6,52.966911,놓치면안될고객,간헐,휴면,5
69377,299943,299943,vdBya0ZX,2,49,1,20131023,63,0,0,...,0.002204,1,8,4,5,57.011574,놓치면안될고객,간헐,휴면,3
69381,299965,299965,u3m5mxIA,1,44,1,20120912,76,1,0,...,0.001743,1,8,5,4,61.056236,잠재충성고객,간헐,휴면,11
69382,299974,299974,WoxfyQXF,2,41,1,20020121,204,0,0,...,0.001649,1,8,4,4,53.181605,놓치면안될고객,간헐,휴면,3
69383,299976,299976,n4Tx2THz,1,34,1,19941017,291,1,0,...,0.004613,1,8,2,8,52.752218,놓치면안될고객,간헐,휴면,5

In [56]:
new_['cluster']=new_predict['Cluster'].values
new=new_[['회원번호','_1순위카드ID','cluster']]
new.head()

C:\Users\User\AppData\Local\Temp\ipykernel_11228\853056276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_['cluster']=new_predict['Cluster'].values

        회원번호  _1순위카드ID  cluster
8   sytxTIWe       136        8
17  qJVMhX52      1068       11
28  jJpomaur       487       11
35  M6X9TldS       302        3
42  8CpoNiZA       156        3

In [76]:
results = [] 

for i in range(14):
    # cluster 칼럼 값이 i인 행들 필터링
    cluster_i_rows = new_[new_['cluster'] == i]

    if not cluster_i_rows.empty:  # 클러스터 데이터가 존재하는지 확인
        # _1순위카드 칼럼의 최빈값 구하기
        mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]

        # 두 번째로 많이 사용하는 카드 구하기
        card_value_counts = cluster_i_rows['_1순위카드ID'].value_counts()
        second_mode_card = card_value_counts.index[1] if len(card_value_counts) > 1 else np.nan

        # 세 번째부터 60순위까지 사용하는 카드 구하기
        remaining_cards = card_value_counts.index[2:70] if len(card_value_counts) > 2 else []

        results.append([i, mode_card, second_mode_card] + list(remaining_cards))

# 결과를 데이터프레임으로 변환
result_df = pd.DataFrame(results, columns=['cluster', '1순위', '2순위'] + [f'{i}순위' for i in range(3, 71)])
result_df.set_index('cluster', inplace=True)

result_df

C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]
C:\Users\User\AppData\Local\Temp\ipykernel_11228\3503060113.py:9: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_card = stats.mode(cluster_i_rows['_1순위카드ID'])[0][0]

,1순위,2순위,3순위,4순위,5순위,6순위,7순위,8순위,9순위,10순위,...,61순위,62순위,63순위,64순위,65순위,66순위,67순위,68순위,69순위,70순위
cluster,,,,,,,,,,,,,,,,,,,,,
1,136,156,1561,492,1558,126,270,226,98,229,...,157,144,442,334,1293,441,249,218,1066,321
3,156,229,216,136,218,126,226,1561,302,482,...,100,1007,311,470,791,342,797,306,1328,838
5,136,1561,1514,1513,156,305,1555,126,98,1077,...,489,838,279,884,355,341,812,359,297,332
7,136,98,1555,156,1561,305,1558,1050,492,101,...,482,112,1183,1007,332,1731,322,1536,313,1515
8,136,156,98,305,126,1561,1564,1555,491,1050,...,1225,810,1489,492,444,277,279,1405,794,1
9,136,305,1077,126,98,1558,1561,156,1555,1075,...,470,482,358,164,320,497,931,269,490,306
11,136,1077,1739,1561,156,1555,305,1558,98,126,...,1706,230,1112,1405,809,1142,217,111,488,1567
12,136,156,1558,870,1555,1561,98,491,305,1050,...,1536,794,487,120,931,295,517,791,144,335
13,136,1555,1558,305,98,126,156,1561,491,1077,...,1512,1155,246,224,1400,135,1127,165,333,1725

In [114]:
merged_df = pd.merge(new, result_df, on='cluster')
merged_df.head(5)

,회원번호,_1순위카드ID,cluster,1순위,2순위,3순위,4순위,5순위,6순위,7순위,...,61순위,62순위,63순위,64순위,65순위,66순위,67순위,68순위,69순위,70순위
0,sytxTIWe,136,8,136,156,98,305,126,1561,1564,...,1225,810,1489,492,444,277,279,1405,794,1
1,aD26XDLb,126,8,136,156,98,305,126,1561,1564,...,1225,810,1489,492,444,277,279,1405,794,1
2,EqUBy5IP,1558,8,136,156,98,305,126,1561,1564,...,1225,810,1489,492,444,277,279,1405,794,1
3,oKef7MW0,156,8,136,156,98,305,126,1561,1564,...,1225,810,1489,492,444,277,279,1405,794,1
4,B0a93t06,1145,8,136,156,98,305,126,1561,1564,...,1225,810,1489,492,444,277,279,1405,794,1

In [125]:
# '소비군'과 '주력카드ID' 칼럼 초기화
merged_df['소비군'] = ""
merged_df['주력카드ID'] = ""

# 'cluster' 칼럼 값을 기반으로 '소비군'과 '주력카드ID' 값을 할당
for index, row in merged_df.iterrows():
    if row['cluster'] == 0:
        merged_df.at[index, '소비군'] = '주유'
        merged_df.at[index, '주력카드ID'] = '260'
    elif row['cluster'] == 1:
        merged_df.at[index, '소비군'] = '간편결제'
        merged_df.at[index, '주력카드ID'] = '114'
    elif row['cluster'] == 2:
        merged_df.at[index, '소비군'] = '마트'
        merged_df.at[index, '주력카드ID'] = '123'
    elif row['cluster'] == 3:
        merged_df.at[index, '소비군'] = '외식'
        merged_df.at[index, '주력카드ID'] = '136'
    elif row['cluster'] == 4:
        merged_df.at[index, '소비군'] = '마일리지'
        merged_df.at[index, '주력카드ID'] = '247'
    elif row['cluster'] == 5:
        merged_df.at[index, '소비군'] = '통신'
        merged_df.at[index, '주력카드ID'] = '226'
    elif row['cluster'] == 6:
        merged_df.at[index, '소비군'] = '교통'
        merged_df.at[index, '주력카드ID'] = '1061'
    elif row['cluster'] == 7:
        merged_df.at[index, '소비군'] = '레저'
        merged_df.at[index, '주력카드ID'] = '1007'
    elif row['cluster'] == 8:
        merged_df.at[index, '소비군'] = '전가맹점'
        merged_df.at[index, '주력카드ID'] = '130'
    elif row['cluster'] == 9:
        merged_df.at[index, '소비군'] = '해외'
        merged_df.at[index, '주력카드ID'] = '246'
    elif row['cluster'] == 10:
        merged_df.at[index, '소비군'] = '쇼핑'
        merged_df.at[index, '주력카드ID'] = '1400'
    elif row['cluster'] == 11:
        merged_df.at[index, '소비군'] = '병원'
        merged_df.at[index, '주력카드ID'] = '336'
    elif row['cluster'] == 12:
        merged_df.at[index, '소비군'] = '구독'
        merged_df.at[index, '주력카드ID'] = '1152'
    elif row['cluster'] == 13:
        merged_df.at[index, '소비군'] = '생활'
        merged_df.at[index, '주력카드ID'] = '1203'

In [137]:
def find_similar_consumption_pattern(member_id, merged_df):
    # 회원 번호로부터 클러스터 찾기
    member_cluster = merged_df.loc[merged_df['회원번호'] == member_id, 'cluster'].values[0]
    
    if member_cluster == -1:
        return "User not found in any cluster."
    
    # 같은 클러스터 내의 회원들 찾기
    similar_members = merged_df[merged_df['cluster'] == member_cluster]
    # 회원의 현재 사용카드 구하기
    current_cards = similar_members[similar_members['회원번호'] == member_id]['_1순위카드ID'].values[0]
    # 회원이 속한 cluster 소비군
    consumption_pattern = similar_members[similar_members['회원번호'] == member_id]['소비군'].values[0]
    # 소비패턴의 주력카드id
    recommand_card = similar_members[similar_members['회원번호'] == member_id]['주력카드ID'].values[0]
    
    # 주사용카드 1순위, 2순위, 3순위 구하기
    top_cards = similar_members[['1순위', '2순위', '3순위']].mode().iloc[0]
    
    # 결과 문자열 생성
    result = f"User {member_id}'s current usage cards:\n"
    result += f"Current card: {current_cards}\n\n"
    result += f"Top cards for users with similar consumption patterns:\n"
    result += f"1st choice: {top_cards['1순위']}\n"
    result += f"2nd choice: {top_cards['2순위']}\n"
    result += f"3rd choice: {top_cards['3순위']}\n\n"
    #소속 클러스터
    result += f"recommand_cardID_based_spend_pattern: {recommand_card}\n"
    result += f"consumption_pattern: {consumption_pattern}"
    return result

# 예시 사용
member_id = 'B0a93t06'  # 입력하려는 회원 번호
result = find_similar_consumption_pattern(member_id, merged_df)
print(result)

User B0a93t06's current usage cards:
Current card: 1145

Top cards for users with similar consumption patterns:
1st choice: 136
2nd choice: 156
3rd choice: 98

recommand_cardID_based_spend_pattern: 130
consumption_pattern: 전가맹점

In [138]:
def find_similar_consumption_pattern(member_id, merged_df):
    # 회원 번호로부터 클러스터 찾기
    member_cluster = merged_df.loc[merged_df['회원번호'] == member_id, 'cluster'].values[0]
    
    if member_cluster == -1:
        return "User not found in any cluster."
    
    # 같은 클러스터 내의 회원들 찾기
    similar_members = merged_df[merged_df['cluster'] == member_cluster]
    # 회원의 현재 사용카드 구하기
    current_cards = similar_members[similar_members['회원번호'] == member_id]['_1순위카드ID'].values[0]
    # 회원이 속한 cluster 소비군
    consumption_pattern = similar_members[similar_members['회원번호'] == member_id]['소비군'].values[0]
    # 소비패턴의 주력카드id
    recommand_card = similar_members[similar_members['회원번호'] == member_id]['주력카드ID'].values[0]
    
    # 주사용카드 1순위, 2순위, 3순위 구하기
    top_cards = similar_members[['1순위', '2순위', '3순위']].mode().iloc[0]
    
    # 결과 문자열 생성
    result = f"User {member_id}'s current usage cards:\n"
    result += f"Current card: {current_cards}\n\n"
    result += f"Top cards for users with similar consumption patterns:\n"
    result += f"1st choice: {top_cards['1순위']}\n"
    result += f"2nd choice: {top_cards['2순위']}\n"
    result += f"3rd choice: {top_cards['3순위']}\n\n"
    #소속 클러스터
    result += f"recommand_cardID_based_spend_pattern: {recommand_card}\n"
    result += f"consumption_pattern: {consumption_pattern}"
    return result

# 예시 사용
member_id = 'vld14v19'  # 입력하려는 회원 번호
result = find_similar_consumption_pattern(member_id, merged_df)
print(result)

User vld14v19's current usage cards:
Current card: 785

Top cards for users with similar consumption patterns:
1st choice: 136
2nd choice: 305
3rd choice: 1077

recommand_cardID_based_spend_pattern: 246
consumption_pattern: 해외

In [ ]:
0 주유 이용금액 정비이용금액 260 카드 (주유할인)                          주유 
1 온라인 이용금액  114 카드 (온라인쇼핑할인)                               간편결제
2슈퍼마켓 이용금액 123카드 (유통/마트 할인)                                 마트
3 특징이 없으니깐 제일 혜택많은거  136카드 (혜택많은 136)               외식
4 그냥 거의다 1등  247 카드 (플래티늄서비스)                                 마일리지
5 통신비 이용금액 226 카드 (통신할인)                                          통신
6 버스 지하철 이용금액  1061 카드 (교통할인)                                 교통
7 펫이용금액, 공연이용금액 1007 카드 (문화생활할인)                        레저
8 편의점 이용금액 택시 이용금액 130카드 (전가맹점할인)                     전가맹점
9 해외이용금액 246번 카드 (대한항공 항공사 마일리지)                      해외 
10 마트 이용금액 1400카드(가전할인)                                             쇼핑
11 보험료 이용금액 336 카드 (기타 원금할인)                                   병원 
12 관리비 이용금액  1152 카드 (아파트할인)                                     구독
13 교육납부금액 1203 카드 (교육관련할인)                                       생활

In [72]:
rank_columns = [f'{i}순위' for i in range(1, 6)]

# apply 함수를 사용하여 조건을 만족하는 행을 찾고, 그 합을 계산
a = merged_df.apply(lambda row: row['_1순위카드ID'] in row[rank_columns].values, axis=1).sum()
a

2238

In [76]:
rank_columns = [f'{i}순위' for i in range(1, 6)]

# apply 함수를 사용하여 조건을 만족하는 행을 찾고, 그 합을 계산
b = merged_df[merged_df.apply(lambda row: row['_1순위카드ID'] not in row[rank_columns].values, axis=1)]
b

,회원번호,_1순위카드ID,cluster,1순위,2순위,3순위,4순위,5순위,6순위,7순위,...,61순위,62순위,63순위,64순위,65순위,66순위,67순위,68순위,69순위,70순위
1,lFYWhHJU,324,0,229,136,216,156,482,1561,226,...,1326,284,487,260,332,321,1515,163,1536,157
2,aD26XDLb,126,0,229,136,216,156,482,1561,226,...,1326,284,487,260,332,321,1515,163,1536,157
4,Lu0L3wvX,1514,0,229,136,216,156,482,1561,226,...,1326,284,487,260,332,321,1515,163,1536,157
5,M6NTNL4U,111,0,229,136,216,156,482,1561,226,...,1326,284,487,260,332,321,1515,163,1536,157
6,p3tfgTqx,1141,0,229,136,216,156,482,1561,226,...,1326,284,487,260,332,321,1515,163,1536,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14437,iWtMfNBg,126,3,136,156,1561,1555,229,226,126,...,838,1086,938,1731,244,1088,834,247,797,500
14438,6PsR2Eya,305,3,136,156,1561,1555,229,226,126,...,838,1086,938,1731,244,1088,834,247,797,500
14439,mF1zDjdZ,126,3,136,156,1561,1555,229,226,126,...,838,1086,938,1731,244,1088,834,247,797,500
14440,tKVR0fnT,791,3,136,156,1561,1555,229,226,126,...,838,1086,938,1731,244,1088,834,247,797,500
14441,vld14v19,785,3,136,156,1561,1555,229,226,126,...,838,1086,938,1731,244,1088,834,247,797,500