In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as po

In [2]:
df=pd.read_csv('C:/Users/User/Desktop/디지털하나로/CardData_new.csv',encoding='cp949')
df

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
0,YNtSN9Oa,2,64,1,20140709,54,1,0,0,0,...,3,3,2,5,5,5,9,0,0,21.Active_연속
1,Rijqdlzu,1,24,1,20170412,21,0,0,0,0,...,0,0,0,12,5,5,14,2,2,21.Active_연속
2,NOsf3TZS,2,43,1,20170426,21,1,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
3,7IPZGTZu,2,79,1,20141128,50,0,0,0,0,...,16,15,5,1,3,3,6,0,0,21.Active_연속
4,pEEsUF2u,2,82,1,20120905,76,0,0,0,0,...,4,4,3,1,1,1,4,3,2,21.Active_연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,Gso9Jlid,2,47,1,20170630,18,0,0,0,0,...,3,3,2,9,5,5,16,0,0,21.Active_연속
299996,EDQYlTTX,2,69,1,20150417,45,0,0,0,0,...,2,2,2,1,0,0,0,12,12,22.Active_간헐
299997,82GwFS1D,1,36,1,20120608,79,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299998,LUYeNjki,1,48,1,20120508,80,1,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299999,bnKXePYO,2,36,1,20180222,11,1,0,0,0,...,20,20,5,0,1,1,0,6,12,21.Active_연속

In [7]:
df[df['컨택건수_이용유도_EM_R6M']>=50]

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
10,5AccYtv1,2,68,1,20160218,35,0,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
30,MFrzYvgD,1,43,1,20040408,177,0,0,1,1,...,0,0,0,12,0,0,0,12,12,21.Active_연속
49,M5r7YFPR,2,45,1,20161028,27,1,0,0,0,...,17,17,6,0,4,4,5,2,2,22.Active_간헐
57,YYYfjkvI,2,47,1,20180219,11,1,0,0,0,...,5,5,4,4,2,2,9,2,1,22.Active_간헐
59,yfU6bZuH,2,48,1,20160803,29,1,0,0,0,...,3,3,3,4,0,0,0,12,12,21.Active_연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299933,EBGZ8xsl,1,37,1,20170105,24,0,0,0,0,...,7,7,7,0,0,0,0,12,12,22.Active_간헐
299942,bYaDapmP,1,50,1,20070710,138,1,0,0,0,...,1,1,1,2,3,3,5,4,4,21.Active_연속
299969,9lMcu2Me,1,46,1,20180510,8,0,0,0,0,...,5,5,5,1,1,1,1,6,6,21.Active_연속
299981,6arT0B5d,1,44,1,20120807,77,1,0,1,1,...,12,10,4,5,3,3,8,2,2,21.Active_연속
299983,Tp3muDcV,1,55,1,20160219,35,0,0,0,0,...,6,5,2,1,0,0,0,12,12,21.Active_연속

In [11]:
df[(df['컨택건수_이용유도_EM_R6M']>=50)&(df['고객구분']=='21.Active_연속')]

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
10,5AccYtv1,2,68,1,20160218,35,0,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
30,MFrzYvgD,1,43,1,20040408,177,0,0,1,1,...,0,0,0,12,0,0,0,12,12,21.Active_연속
59,yfU6bZuH,2,48,1,20160803,29,1,0,0,0,...,3,3,3,4,0,0,0,12,12,21.Active_연속
63,b37B9CFz,1,40,1,20000616,223,0,0,1,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
70,29DzJWwq,1,47,1,20131125,62,0,0,0,0,...,4,3,3,1,3,3,7,0,0,21.Active_연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299910,FgUWVQ5u,1,70,1,20160226,35,0,0,0,0,...,7,6,4,1,4,4,7,0,0,21.Active_연속
299942,bYaDapmP,1,50,1,20070710,138,1,0,0,0,...,1,1,1,2,3,3,5,4,4,21.Active_연속
299969,9lMcu2Me,1,46,1,20180510,8,0,0,0,0,...,5,5,5,1,1,1,1,6,6,21.Active_연속
299981,6arT0B5d,1,44,1,20120807,77,1,0,1,1,...,12,10,4,5,3,3,8,2,2,21.Active_연속
299983,Tp3muDcV,1,55,1,20160219,35,0,0,0,0,...,6,5,2,1,0,0,0,12,12,21.Active_연속

In [16]:
a=df[(df['컨택건수_이용유도_EM_R6M']>=50)]
a['고객구분'].value_counts()

21.Active_연속    23332
22.Active_간헐     1368
32.휴면_6M-         163
31.휴면_3M          130
34.휴면_9M+          82
33.휴면_9M-          65
Name: 고객구분, dtype: int64

In [ ]:
correlation_matrix = df.corr()  # 데이터프레임의 상관계수 행렬 계산
specific_column = '컨택건수_이용유도_EM_R6M'   # 분석할 특정 열의 이름

correlations_with_specific_column = correlation_matrix[specific_column]  # 특정 열과 다른 열들 간의 상관계수 추출
correlations_with_specific_column

C:\Users\User\AppData\Local\Temp\ipykernel_18996\2213429662.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()  # 데이터프레임의 상관계수 행렬 계산

In [13]:
df[df['컨택건수_이용유도_EM_R6M']==0]

,회원번호,남녀구분코드,연령,소지여부_신용,입회일자_신용,입회경과개월수_신용,탈회여부,회원여부_연체,수신거부여부_TM,수신거부여부_DM,...,캠페인접촉건수_R12M,캠페인접촉일수_R12M,캠페인접촉월수_R12M,접촉후경과월_R12M,보험콜대상월수_R12M,보험콜대상횟수_R12M,보험콜통화횟수_R12M,보험콜배정후경과월_R12M,보험콜통화후경과월_R12M,고객구분
6,w8NeFjRo,2,38,1,20170609,19,1,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
11,PjmGznTm,1,45,1,19950524,284,0,0,1,1,...,0,0,0,12,0,0,0,12,12,21.Active_연속
19,LDhsZIdO,2,54,0,20140218,59,0,0,1,1,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
20,Cr9MNwh4,1,45,1,20141210,49,1,0,0,0,...,0,0,0,12,0,0,0,12,12,34.휴면_9M+
22,38tCEqm5,2,45,1,20120822,77,0,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299962,1hdAK7FU,1,62,1,19930319,310,0,0,0,0,...,4,4,3,2,2,2,5,0,0,21.Active_연속
299980,OZcWu33s,1,59,1,20170522,20,1,0,0,0,...,4,4,4,5,0,0,0,12,12,21.Active_연속
299988,gqsVXOTA,1,71,1,20070328,142,0,0,0,0,...,1,1,1,6,3,3,10,0,0,21.Active_연속
299993,4OkAKAp8,2,48,1,20170517,20,1,0,0,0,...,0,0,0,12,0,0,0,12,12,21.Active_연속
299999,bnKXePYO,2,36,1,20180222,11,1,0,0,0,...,20,20,5,0,1,1,0,6,12,21.Active_연속

In [15]:
a=df[(df['컨택건수_이용유도_EM_R6M']==0)]
a['고객구분'].value_counts()

21.Active_연속    34763
34.휴면_9M+       11446
22.Active_간헐     6376
33.휴면_9M-        2792
32.휴면_6M-        2372
31.휴면_3M         1052
Name: 고객구분, dtype: int64